@model myinnovation.Models.Teacher

@{
    ViewBag.Title = "AddTeacher";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>AddTeacher</h2>
@*@using (Html.BeginForm("Create", "Home"))
{
    @Html.LabelFor(model=>model.TeacherName)
    @Html.TextBoxFor(model=>model.TeacherName)<br />

    @Html.LabelFor(model => model.Subject)
    @Html.TextBoxFor(model => model.Subject)<br />
    <input type="submit", value="Submit" />


}*@

@using (Html.BeginForm("Create", "Home", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Teacher</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.TeacherName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => Model.TeacherName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => Model.TeacherName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Subject, "Subject", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Subject", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Subject, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    
        </div>
        }